@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url('https://media.discordapp.net/attachments/1148799406326415462/1148799526812012727/background.jpg?width=840&height=473');
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.notepad-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.editor-container {
    width: 900px;
    height: 440px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    overflow: hidden;
}

.editor-container textarea {
    font-family: 'Roboto Mono', monospace;
    width:  900px;
    height: 440px;
    color: #fff;
    resize: none;
    border: none;
    background: transparent;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    caret-color: #fff;
    max-width: calc(100% - 15px);
    overflow-y: auto;
}

.navigation {
    display: flex;
    justify-content: center;
}

.page-tabs {
    display: flex;
    overflow-x: auto;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0px 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    margin-right: 10px;
    cursor: pointer;
}

.tab-active {
    background-color: #fff;
    color: #1e1e1e;
}

#new-page-btn {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 4px 4px 0 0;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-page-btn:hover {
    background-color: #fff;
    color: #1e1e1e;
}

.close-button {
    display: none;
    font-weight: 800;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: -5px;
    color: #1e1e1e;
    transition: background-color 0.5s ease;
}

.tab-active .close-button {
    display: inline;
}

.navbar-container {
    background-color: #fff;
}